.work{
        margin-top: 20px;
        border: 1px solid rgb(221, 221, 221);
}

.work-skill{
    display:flex;
    width: 1168px;
    margin: 18px 55px 15px 65px;
}

.company-logo{
    height: 60px;
    width: 60px;
    margin-top: 12.5px;
}

.work-card{
    display: flex;
    height: auto;
    text-align: left;
    color: #4a4a4a;
    width: 664px;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.detail-s>h5{
    margin-top: 0;
    margin-bottom: 7px;
}

.sk{
    background-color: #efefef;
    height: 16px;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    margin-right: 7.5px;
     border-radius: 20px;
}

.right-det{
    width: 513px;
    padding-left: 30px;
}

.company-name{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.designation{
    font-size: 16px;
}

.duration, .location{
    font-size: 12px;
    font-weight: 400;
    color: #959595;
}


.work-edu> h3{
    text-align: left;
    margin-top: -3px;
}