.work{
        margin-top: 20px;
        border: 1px solid rgb(221, 221, 221);
        background: #fff;
}

.work-skill{
    display:flex;
    width: 1168px;
    margin: 18px 55px 15px 65px;
}

.company-logo{
    height: 60px;
    width: 60px;
    margin-top: 12.5px;
}

.work-card{
    display: flex;
    height: auto;
    text-align: left;
    color: #4a4a4a;
    width: 764px;
    padding: 15px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.detail-s>h5{
    margin-top: 0;
    margin-bottom: 7px;
}

.sk{
    background-color: #efefef;
    height: 16px;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    margin-right: 7.5px;
     border-radius: 20px;
}

.right-det{
    width: 490px;
    padding-left: 30px;
}

.company-name{
    font-size: 12.75px;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.designation{
    font-size: 16px;
}

.duration, .location{
    font-size: 12.5px;
    font-weight: 400;
    color: #959595;
}


.work-edu> h3{
    text-align: left;
    margin-top: -3px;
}

.edu>h3{
    margin-top: 25px;
    text-align: left;
}


.div-img>img{
    height: 60px;
    width: 60px;
}

.div-img{
    padding: 7.5px 5px 7.5px 15px;
    background-color: silver;
    height: 65px;
    width: 70px;
}


.edu-card{
    height: auto;
    text-align: left;
    color: #4a4a4a;
    width: 764px;
    padding: 15px;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: #fff;
}


.w-skill{
    width: 350px;
}

.level{
    height: 72.5px;
    width: 350px;
}

.skill-banner{
    height: 90px;
    width: 350px;
}

.work-details>h5{
    font-weight: 500;
    font-size: 12.5px;
    color: #959595;
}

.institute{
    font-size: 16px;
    color: #4a4a4a;
}

.dep{
    font-size: 12.5px;
    color: #959595;
    font-weight: 500;
}

.ed-det{
    margin-left: 30px;
    margin-top: -12.5px;
}




.verified>img{
    height: 90px;
    width: 150px;
}


.w-skill>h3{
    text-align: left;
    margin-top: 0;
}

.w-skill{
    margin-left: 20px;
}


.skillname>h1{
    font-size: 18px;
    color: #4a4a4a;
    font-weight: 400;
    letter-spacing: -0.7px;
}


